directory: /mnt/nfs/ml
# --------------- Main ---------------

library: /mnt/nfs/musiclibrary.db

# --------------- Plugins ---------------

plugins: fetchart lyrics lastgenre
disabled_plugins: []
fetchart:
    auto: yes
    minwidth: 0
    maxwidth: 0
    quality: 0
    max_filesize: 0
    enforce_ratio: no
    cautious: no
    cover_names:
    - cover
    - front
    - art
    - album
    - folder
    fallback:
    sources:
    - filesystem
    - coverart
    - itunes
    - amazon
    - albumart
    - cover_art_url
    store_source: no
    high_resolution: no
    deinterlace: no
    cover_format:
    fanarttv_key: REDACTED
    lastfm_key: REDACTED
    google_key: REDACTED
    google_engine: REDACTED
lyrics:
    auto: yes
    translate:
        api_key: REDACTED
        from_languages: []
        to_language:
    dist_thresh: 0.11
    google_API_key: REDACTED
    google_engine_ID: REDACTED
    genius_api_key: REDACTED
    fallback:
    force: no
    local: no
    print: no
    synced: no
    sources: [lrclib, google, genius]
lastgenre:
    whitelist: yes
    min_weight: 10
    count: 1
    fallback:
    canonical: no
    cleanup_existing: no
    source: album
    force: no
    keep_existing: no
    auto: yes
    prefer_specific: no
    title_case: yes
    pretend: no

